<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" ng-app="AppIndexingValidator" class="ng-scope">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>App Indexing Validator | Branch</title>

    <meta name="description" content="Branch’s App Indexing validator analyzes your site to check if your app is properly configured for Google’s Firebase App Indexing.">

    <link rel="apple-touch-icon" sizes="57x57" href="//branch.io/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//branch.io/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//branch.io/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//branch.io/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="//branch.io/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//branch.io/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//branch.io/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//branch.io/img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="//branch.io/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="//branch.io/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="//branch.io/img/favicon/favicon-32x32.png" sizes="32x32">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,600,300' rel='stylesheet' type='text/css'>
    <meta name="msapplication-TileColor" content="#65d3f7">
    <meta name="msapplication-TileImage" content="//branch.io/img/favicon/mstile-144x144.png">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="static/js/branchAttributionScripts.js"></script>
  </head>

  <body ng-controller="MainController">
    <nav class="navbar navbar-default navbar-static-top navbar-main">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a href="https://branch.io" class="logo-container">
              <div class="branch-logo"><img src="https://branch.io/img/logo_white.png" alt="BranchMetrics" title="Branch Metrics"></div>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <main class="ng-scope" ng-view>
      <div class="container">
        <div class="well form-horizontal col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="validator-title">App Indexing Validator</div>
          <p>
          Enter your domain/webpage and Android App Package Name or Apple App Store ID below to test if your website is properly configured for Firebase App Indexing. We’ll test your domain against Google's requirements for Firebase App Indexing along with what we’ve seen successfully work in production. Properly setting up your website and your robots.txt file is a critical step in ensuring that your results in Google search open up your mobile app. We have open sourced the code for this validator <a href="https://github.com/BranchMetrics/app-indexing-validator" target="_blank">here</a> and we have published a blog post with more information about what is being validated <a href="https://blog.branch.io/introducing-an-app-indexing-validator" target="_blank">here</a>.<br/><br/>
          </p>
          <br/><br/>
          <div class="form-group">
            <label class="col-sm-3 control-label input-required">Domain / Web Page</label>
            <div class="col-sm-9 no-space">
              <input class="form-control" ng-model="domainInputVal" type="text" ng-keyup="keyUp($event)"placeholder="soundcloud.com">
            </div>
            <div class="form-group" ng-show="domainInputVal">
              <label class="col-sm-3 control-label input-required" ng-cloak>Package Name</label>
              <div class="col-sm-9 no-space"ng-cloak>
                <input class="form-control" ng-model="packageName" type="text" ng-keyup="keyUp($event)" placeholder="Android App Package Name (Optional)">
              </div>
            </div>
            <div class="form-group" ng-show="domainInputVal">
              <label class="col-sm-3 control-label input-required" ng-cloak>App Store ID</label>
              <div class="col-sm-9 no-space"ng-cloak>
                <input class="form-control" ng-model="appStoreId" type="text" ng-keyup="keyUp($event)" placeholder="App Store ID (Optional)">
            </div>
          </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9 no-space">
             <button class="new-button" ng-click="beginTest()">Test</button>
              <button class="new-button" ng-show="showresultsvalue" ng-click="scrollTo()">Results</button>
             </div>
          </div>
        </div>
      </div>
      <div class="container" id="resultsbox">
        <div class="alert {{ displayWebpage('summary', 'divClass') }}" ng-if="!isEmpty(testResults)">
          <b>{{ displayWebpage('summary', 'message') }}</b><br><br>
          <ul class="list-group"> <!-- webpage validation function-->
            <li hidden></li>
              <li class="list-group-item {{ displayWebpage('invalidAndroidScheme', 'listGroupItemClass') }}"> <b> {{ displayWebpage('invalidAndroidScheme', 'message') }} </b> </li>
              <li class="list-group-item {{ displayWebpage('invalidAndroidHost', 'listGroupItemClass') }}"> <b> {{ displayWebpage('invalidAndroidHost', 'message') }} </b> </li>
              <li class="list-group-item {{ displayWebpage('invalidiOSScheme', 'listGroupItemClass') }}"> <b> {{ displayWebpage('invalidiOSScheme', 'message') }} </b> </li>
              <li class="list-group-item {{ displayWebpage('invalidiOSHost', 'listGroupItemClass') }}"> <b> {{ displayWebpage('invalidiOSHost', 'message') }} </b> </li>
              <li hidden></li>
            </ul>
          </div>
          <div class="alert {{ displayRobots('summary', 'divClass') }}" ng-if="!isEmpty(testResults)">
            <b>{{ displayRobots('summary', 'message')}}</b><br><br>
            <ul class="list-group"> <!-- robots validation function-->
              <li hidden></li>
              <li class="list-group-item {{ displayRobots('invalidUserAgent', 'listGroupItemClass') }}"> <b> {{ displayRobots('invalidUserAgent', 'message') }} </b> </li>
              <li hidden></li>
            </ul>
          </div>
          <div class="alert {{ displayAssetlink('summary', 'divClass') }}" ng-if="!isEmpty(testResults)">
            <b>{{ displayAssetlink('summary', 'message') }}</b><br><br>
            <ul class="list-group"><!-- assetlinks validation function-->
              <li hidden></li>
              <li class="list-group-item {{ displayAssetlink('serverError', 'listGroupItemClass') }} "> <b> {{ displayAssetlink('serverError', 'message') }} </b> </li>
              <li class="list-group-item {{ displayAssetlink('badContentType', 'listGroupItemClass') }}"> <b> {{ displayAssetlink('badContentType', 'message') }} </b> </li>
              <li class="list-group-item {{ displayAssetlink('invalidJSON', 'listGroupItemClass') }}"> <b> {{ displayAssetlink('invalidJSON', 'message') }}</b> </li>
              <li class="list-group-item {{ displayAssetlink('invalidPackageName', 'listGroupItemClass') }}"> <b> {{ displayAssetlink('invalidPackageName', 'message') }}</b></li>
              <li class="list-group-item {{ displayAssetlink('invalidRelation', 'listGroupItemClass') }}"> <b> {{ displayAssetlink('invalidRelation', 'message') }} </a></b><a href="http://developer.android.com/training/app-links/index.html#web-assoc" target="_blank">Learn More</a></li>
              <li class="list-group-item {{ displayAssetlink('invalidNamespace', 'listGroupItemClass') }}"> <b> {{ displayAssetlink('invalidNamespace', 'message') }}</b> <a href="http://developer.android.com/training/app-links/index.html#web-assoc" target="_blank">Learn More</a></li>
              <li class="list-group-item {{ displayAssetlink('invalidSHA', 'listGroupItemClass') }}"> <b> {{ displayAssetlink('invalidSHA', 'message') }} </b> <a href="http://developer.android.com/training/app-links/index.html#web-assoc" target="_blank">Learn More</a></li>
              <li hidden></li>
            </ul>
          </div>
        </div>
        <div class="container">
          <h6 class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">Disclaimer: This product is not affiliated with Google or Firebase. If you have questions about the tool, or encounter an issue with your App Indexing setup with Branch, please contact <a href="mailto:support@branch.io">support@branch.io</a>.</h6>
      </div>
    </main>
    <section class="section-get-started text-center" ng-show="showresultsvalue">
      <h1 class="text-xs-2">Index your app content today. Get started with Branch.</h1>
        <a href="https://dashboard.branch.io" class="new-button" onclick="recordUser()">Get Started</a>
    </section>
    <script src="static/js/factories/DomainFactory.js"></script>
    <script src="static/js/controllers/MainController.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>
